body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  margin-top: 0;
  padding-top: 3rem;
  font-family: 'Inspiration', cursive;
  font-size: 6rem;
  line-height: 2;
}
h2 {
  color: #66BFBF;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #398AB9;
  border-width: 8px;
  width: 5%;
  margin: 100px auto;
}
.top-container {
  background-color: white;
  position: relative;
}
  .profile-img {
    margin: 20px;
    border-radius: 50%;
    width: 18%;
    height: 18%;
    object-fit: cover;
    object-position: center;
  }

.middle-container {
  background-color: #F0F0F0;
  padding-bottom: 100px;
}
  .skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
  }
  .webdevelopment {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .C {
    width: 25%;
    float: right;
    margin-left : 30px;
  }
  .contactmessage {
    margin: 20px auto 60px;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    text-shadow: 2px 2px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
  background-color: #D1D1D1;
  padding: 50px 0 20px;
}
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 10px;
  }